<?xml version="1.0"?>
<config>
    <modules>
        <Redesign_Categories>
            <version>1.0.0</version>
        </Redesign_Categories>
    </modules>
    <global>
        <blocks>
            <categories>
                <class>Redesign_Categories_Block</class>
            </categories>
        </blocks>
    </global>
    <frontend>
        <category>
            <collection>
                <attributes>
                    <image />
                </attributes>
            </collection>
        </category>
        <layout>
            <updates>
                <categories>
                    <file>categories.xml</file>
                </categories>
            </updates>
        </layout>
    </frontend>
</config>